{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block meta %}
    {{ parent() }}
    <link rel="icon" type="image/x-icon" href="">
{% endblock meta %}

{% block header %}
    <a id="logo">
    </a>
{% endblock header %}
